<div class="box-shadow text-center border-top border-bottom landing_box col-12">
    <h1>CS460 Homework 5</h1>
    <h1>2020</h1>
    <p> Here we are writing an application that uses a single one-table local database. Two view, one with the form, and another with a table of the database items. Doing it all with ASP.NET MVC Core.</p>
    <a class="btn btn-success"href="https://wou-cs46x-resources.netlify.app/cs460/hw/hw5.html">Heres the Assignment</a>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <h3>Add a New Assignment</h3>
        <p> Here is where you will enter the Assignment Details into the Assignment Form to Submit your Assignment before you can view that Assignment on the Current Assignment Page where all of the Assignments are Located. Assignment. </p>

        <a asp-area="" asp-controller="Assignment" asp-action="AddAssignment"><button class="btn btn-primary button.accept-policy">Go Add One!</button></a>
        
    </div>
    <div class="col-6">
        <h3>View Current Assignments</h3> 
        <p>Talking about view all those assignemtns, and having the option to change thre orders.
        </p>
        <a asp-area="" asp-controller="Assignment" asp-action="AddAssignment"><button class="btn btn-primary button.accept-policy">OMG What Should I Do?</button></a>
    </div>
</div>
